body {
    margin:0;
    padding:0;
    border:0;
    background-color: white;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 140px;
    width: 30%;
    position: absolute;
    left: 50%;
}
.imagen-perfil {
    display: inline-block;
    width: 30%;
    height: 30%;
}